*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* hwader */
header{
    background-color: #0d0d2b;
    color: #fff;
    display: flex;
    gap: 35rem;
    justify-content: center;
    padding: 2rem 0;
}
.logo{
    display: flex;
    gap: 1em;
}
.logo h3{
    margin-top: 0.5rem;
}
header nav{
    display: flex;
    gap: 4rem;
    margin-top: 0.5rem;
}
header nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
header nav .register{
    display: flex;
    gap: 1rem;
    font-size: 1.2em;
}
.register a{
    color: #fff;
}
.ver-divider{
    color: #525267;
}
button{
    background-color: #3671e9;
    color: #fff;
    font-size: 0.9em;
    outline: none;
    border: none;
    width: 7rem;
    padding: 0.6rem 0;
    margin-top: -0.5rem;
    border-radius: 2rem;
}

/* home */

#home{
    background-color: #0d0d2b;
    color: #fff;
}
/* @media screen and (width: 320px) {
    header{
        width: 100%;
        max-width: 320px;
    }
    .logo{
        font-size: 2vw;
    }
    header nav{
        display: none;
    }
} */